
h1{
    border-bottom: 1px solid;
    position: absolute;
}
nav ul{
    list-style: none;
    display: flex;
}
nav a{
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border: 1px solid;
    margin-right: 0px;
    
}
nav a:hover{
    background: darkcyan;
    color: white;
}
footer p{
    
    margin-top: 0;

}
main p{
    margin: 2rem;
    width: 15%;
    float: left;
    
}
main p:nth-child(1){
    background: darkcyan;
    color: white;
    box-shadow: 1px 2px 8px black;
    
}
main p:nth-child(3){
    background: darkcyan;
    color: white;
    box-shadow: 1px 2px 8px black;
    
}
main p:nth-child(5){
    background: darkcyan;
    color: white;
    
    
}
footer{
    clear: both;
    
}