body{
    border: 1px solid;
    height: 100vh;
    line-height: 2.6;
}

h3, .verde{
    font-size: 1.5rem;
    font-weight: bolder;
    font-style: italic;
}
h3.verde{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3{
    color: red;
}
.art h3{
    
} 
.verde{
    color:lime;
}
