body{
    background: rgb(21, 80, 103);
    margin: 0;
    padding: 0;
    height: 9000px;
    /*border: 1px solid white;*/
}
h1, h2, h3{
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    /*border: 1px solid white;*/
}
header{
    position: absolute;    
    top: 0;
    width:100%;
    height: 100vh;
    background: rgb(122, 57, 57);
   /* border: 1px solid white;*/
}
nav{
    width: 100%;
    position: absolute;
    /*border: 1px solid black;*/ 
}
ul{
    list-style: none;
    
    
}
li{
   display: inline-block; 
   float: left;
   position: relative; 
   left: 10%;
   font-family: fantasy;
   font-weight: lighter;
    
    
}
a{
    color: #ffffff;
    font-size: 30px;
   /* border: 1px solid black;*/
    text-decoration: none;
    padding: 10px 25px;
    text-transform: uppercase;
        
}
h1{
    width: 40%;
    font-size: 4em;
    color: #ffffff;
    position: relative;
    bottom: 190px;
    left: 34.5%;
}
h2{
    width: 40%;
    font-size: 40px;
    position: relative;
    top: 100px; 
    left: 36%;
    color: #ffffff;
    

}
.logo{
    width: 300px;
    height: 300px;
    position: relative;
    left: 38%;
    top: 250px;
}
.titulo_primero{
    width: 100%;
    position: relative;
    top: 800px;
}
.img_titulo{
    width: 400px;
    
    position: relative;
    top: 800px;

    /*border: 1px solid white;*/

}
.titulo_origen{
    position: relative;
    font-size: 30px;
    top: 400px;
    left: 40%;
    color: #ffffff;

    /*border: 1px solid white;*/
    
}
.parrafo_origen{
    width: 50%;
    position: relative;
    top: 400px;
    left: 40%;
    font-size: 25px;
    color: #ffffff;   

   /* border: 1px solid black;*/
}
.Modo{
    width: 100%;
}
.titulo_modo{
    width: 30%;
    position: relative;
    font-size: 30px;
    top: 50px;
    left: 5%;
    color: #ffffff;
   /* border: 1px solid black;*/
}
.img_modo{
    width: 500px;
    position: relative;
    left: 60%;
    top: 550px;

   /* border: 1px solid black;*/
}
.parrafo_modo{
    width: 50%;
    position: relative;
    top: 52px;
    left: 5%;
    font-size: 25px;
    color: #ffffff; 
    margin: 0px;

   /* border: 1px solid black;*/
}

.titulo_historico{
    width: 30%;
    position: relative;
    font-size: 30px;
    top: 180px;
    left: 40%;
    color: #ffffff;
}
.img_historico{
    width: 400px;
    position: relative;
    left: 2%;
    margin-top: 100px;
}

.parrafo_historico{
    width: 50%;
    position: relative;
    bottom: 335px;
    left: 40%;
    font-size: 25px;
    color: #ffffff; 
    margin: 0px;
}
.img_personajes{
    width: 100%;
    height: 400px;

}

.img_personajes01{
    width: 400px;
    position: relative;
}
.personaje_1{

}

.personaje_2{

}
