body{
    margin: 0;
    padding: 0;
    height: 1200;
}
header{
    height: 200px;
    background: tomato;
    color: #ffffff;
    
}
h1{
    padding: 90px;
}
div{
    height: 50px;  
          
    
}