body{
    background: rgb(21, 80, 103);   
    /*border: 1px solid white;*/
}

.logo{
    width: 300px;
}

header{
    width: 100%;
    height: 100vh;
}
nav{
    color: #ffffff;
    font-family: 'Hind', sans-serif;
}

ul{
    list-style: none;
    
}
li{
    display: inline-block;
}
a{

}
a:hover{

}